In [9]:
import pandas as pd

In [16]:
# Read Excel file
df = pd.read_excel("data.xls")

print("First few rows")
print(df.head())
print("\nSummary statistics")
print(df.describe())

filtered_data = df[df['Age'] > 30]
print("\nFiltered data (Age > 30):")
print(filtered_data)

sorted_data = df.sort_values(by='Salary', ascending=False)
print("\nSorted data (by Salary):")
print(sorted_data)

df['Bonus'] = df['Salary'] * 0.1
print("\nData with new column (Bonus):")
print(df)

df.to_excel('output.xlsx', index=False)
print("\nData written to output.xlsx")

First few rows
             Name   Age              Designation     Month    Year  \
0      Raj Sharma  25.0  Chief Technical Officer  December  2016.0
1   Sharad Gandhi  35.0               Accountant  December  2016.0
2  Danish D'Souza  36.0     Senior Web Developer  December  2016.0
3     Pawan Patil  25.0   Senior Ux/Ui Developer  December  2016.0
4       Rijo Paul  28.0     Senior Web Developer  December  2016.0

   Total Days of Month  Allowed Leave  Leave taken  Worked Days      CTC  ...  \
0                 30.0            2.0          0.0           30  60000.0  ...
1                 30.0            0.0          0.0           30  30000.0  ...
2                 30.0            0.0          0.0           30  20000.0  ...
3                 30.0            2.0          2.0           30  25000.0  ...
4                 30.0            2.0          2.0           30  22000.0  ...

   Salary Advance  TOTAL  NET PAYABLE  Gender  Prefix  \
0             NaN   8800          NaN    Male      Mr
1             NaN   2300          NaN    Male      Mr
2             NaN   1440          NaN    Male      Mr
3             NaN   1800          NaN    Male      Mr
4             NaN   1580          NaN    Male      Mr

   Name of Authorised Signatory  PF Applicable  Medical Bill Submitted  \
0             Managing Director            Yes                     Yes
1             Managing Director            Yes                     Yes
2             Managing Director            Yes                     Yes
3             Managing Director            Yes                     Yes
4             Managing Director            Yes                     Yes

   Medical Bill Amount   Your Company Name
0               1250.0        Company Name
1               1250.0   ABC & Company Ltd
2               2000.0  Sabu & Company Ltd
3               1250.0   ABC & Company Ltd
4               2200.0   ABC & Company Ltd

[5 rows x 37 columns]

Summary statistics
             Age    Year  Total Days of Month  Allowed Leave  Leave taken  \
count  21.000000    21.0                 21.0      21.000000    21.000000
mean   35.523810  2016.0                 30.0       1.809524     1.190476
std     9.330697     0.0                  0.0       0.601585     0.928388
min    22.000000  2016.0                 30.0       0.000000     0.000000
25%    28.000000  2016.0                 30.0       2.000000     0.000000
50%    35.000000  2016.0                 30.0       2.000000     1.000000
75%    38.000000  2016.0                 30.0       2.000000     2.000000
max    54.000000  2016.0                 30.0       2.000000     3.000000

       Worked Days           CTC  CTC for December 2016  Basic Salary  \
count    46.000000     21.000000              21.000000     21.000000
mean     13.673913  18571.428571           18558.571429   9273.333333
std      15.085025  12027.349785           12039.353922   6025.357527
min       0.000000   8000.000000            7730.000000   3740.000000
25%       0.000000  12000.000000           12000.000000   6000.000000
50%       0.000000  14000.000000           14000.000000   7000.000000
75%      30.000000  22000.000000           22000.000000  11000.000000
max      30.000000  60000.000000           60000.000000  30000.000000

                DA  ...         Bonus    TA        Salary  Contribution to PF  \
count    21.000000  ...     21.000000  21.0     21.000000           46.000000
mean   1854.761905  ...   1666.666667   0.0  19104.285714          531.521739
std    1204.979747  ...   2929.561970   0.0  14424.611111          658.935058
min     750.000000  ...      0.000000   0.0   6960.000000            0.000000
25%    1200.000000  ...      0.000000   0.0  11800.000000            0.000000
50%    1400.000000  ...   1000.000000   0.0  14250.000000            0.000000
75%    2200.000000  ...   2000.000000   0.0  23050.000000         1010.000000
max    6000.000000  ...  13100.000000   0.0  71850.000000         1800.000000

       Profession Tax          TDS  Salary Advance        TOTAL  NET PAYABLE  \
count             0.0     3.000000             0.0    46.000000          0.0
mean              NaN  3166.666667             NaN   738.043478          NaN
std               NaN  3403.429643             NaN  1452.415030          NaN
min               NaN   500.000000             NaN     0.000000          NaN
25%               NaN  1250.000000             NaN     0.000000          NaN
50%               NaN  2000.000000             NaN     0.000000          NaN
75%               NaN  4500.000000             NaN  1010.000000          NaN
max               NaN  7000.000000             NaN  8800.000000          NaN

       Medical Bill Amount
count            21.000000
mean           1275.714286
std             403.248080
min             749.000000
25%            1000.000000
50%            1250.000000
75%            1400.000000
max            2200.000000

[8 rows x 28 columns]

Filtered data (Age > 30):
              Name   Age           Designation     Month    Year  \
1    Sharad Gandhi  35.0            Accountant  December  2016.0
2   Danish D'Souza  36.0  Senior Web Developer  December  2016.0
5         Joseph P  31.0  Senior Web Developer  December  2016.0
7      Ganesh Rahu  35.0        Ux/Ui Designer  December  2016.0
8      Vinudas K.S  36.0         Web Developer  December  2016.0
9      Divya Kumar  52.0         Web Developer  December  2016.0
10        Shilpa R  45.0                   QAA  December  2016.0
11      Sindhu J.P  48.0         Web Developer  December  2016.0
12     Deepthi P.S  49.0                   QAA  December  2016.0
13       Lijin k c  31.0            Accountant  December  2016.0
15  Ajil k Mohanan  36.0         Web Developer  December  2016.0
16       Edison ML  38.0         Web Developer  December  2016.0
17       Basil P E  37.0         Web Developer  December  2016.0
19     Jismon Tomy  54.0         Web Developer  December  2016.0

    Total Days of Month  Allowed Leave  Leave taken  Worked Days      CTC  \
1                  30.0            0.0          0.0           30  30000.0
2                  30.0            0.0          0.0           30  20000.0
5                  30.0            2.0          1.0           30  14000.0
7                  30.0            2.0          1.0           30  14000.0
8                  30.0            2.0          2.0           30  14000.0
9                  30.0            2.0          2.0           30   8000.0
10                 30.0            2.0          3.0           29   8000.0
11                 30.0            2.0          1.0           30   8000.0
12                 30.0            2.0          2.0           30   8000.0
13                 30.0            2.0          2.0           30  13000.0
15                 30.0            2.0          2.0           30  22000.0
16                 30.0            2.0          0.0           30  12000.0
17                 30.0            2.0          1.0           30  22000.0
19                 30.0            2.0          1.0           30  10000.0

    ...  Salary Advance  TOTAL  NET PAYABLE  Gender  Prefix  \
1   ...             NaN   2300          NaN    Male      Mr
2   ...             NaN   1440          NaN    Male      Mr
5   ...             NaN   1010          NaN    Male      Mr
7   ...             NaN   1010          NaN    Male      Mr
8   ...             NaN   1010          NaN    Male      Mr
9   ...             NaN    580          NaN  Female     Mrs
10  ...             NaN    540          NaN  Female     Mrs
11  ...             NaN    580          NaN  Female     Mrs
12  ...             NaN    580          NaN  Female     Mrs
13  ...             NaN    940          NaN    Male      Mr
15  ...             NaN   1580          NaN    Male      Mr
16  ...             NaN    860          NaN    Male      Mr
17  ...             NaN   1580          NaN    Male      Mr
19  ...             NaN    720          NaN    Male      Mr

    Name of Authorised Signatory  PF Applicable  Medical Bill Submitted  \
1              Managing Director            Yes                     Yes
2              Managing Director            Yes                     Yes
5              Managing Director            Yes                     Yes
7              Managing Director            Yes                     Yes
8              Managing Director            Yes                     Yes
9              Managing Director            Yes                     Yes
10             Managing Director            Yes                     Yes
11             Managing Director            Yes                     Yes
12             Managing Director            Yes                     Yes
13             Managing Director            Yes                     Yes
15             Managing Director            Yes                     Yes
16             Managing Director            Yes                     Yes
17             Managing Director            Yes                     Yes
19             Managing Director            Yes                     Yes

    Medical Bill Amount   Your Company Name
1                1250.0   ABC & Company Ltd
2                2000.0  Sabu & Company Ltd
5                1400.0   ABC & Company Ltd
7                1200.0   ABC & Company Ltd
8                1400.0   ABC & Company Ltd
9                 800.0   ABC & Company Ltd
10                774.0   ABC & Company Ltd
11                800.0   ABC & Company Ltd
12                749.0   ABC & Company Ltd
13               1000.0   ABC & Company Ltd
15               2000.0   ABC & Company Ltd
16               1200.0   ABC & Company Ltd
17               1067.0   ABC & Company Ltd
19               1000.0   ABC & Company Ltd

[14 rows x 37 columns]

Sorted data (by Salary):
              Name   Age              Designation     Month    Year  \
0       Raj Sharma  25.0  Chief Technical Officer  December  2016.0
14       Sayad K M  22.0          Project Manager  December  2016.0
1    Sharad Gandhi  35.0               Accountant  December  2016.0
17       Basil P E  37.0            Web Developer  December  2016.0
3      Pawan Patil  25.0   Senior Ux/Ui Developer  December  2016.0
4        Rijo Paul  28.0     Senior Web Developer  December  2016.0
15  Ajil k Mohanan  36.0            Web Developer  December  2016.0
2   Danish D'Souza  36.0     Senior Web Developer  December  2016.0
18    Jobin George  28.0            Web Developer  December  2016.0
5         Joseph P  31.0     Senior Web Developer  December  2016.0
8      Vinudas K.S  36.0            Web Developer  December  2016.0
13       Lijin k c  31.0               Accountant  December  2016.0
6     Aakash Patel  29.0            Web Developer  December  2016.0
7      Ganesh Rahu  35.0           Ux/Ui Designer  December  2016.0
20     Sharafali P  26.0           Ux/Ui Designer  December  2016.0
16       Edison ML  38.0            Web Developer  December  2016.0
19     Jismon Tomy  54.0            Web Developer  December  2016.0
12     Deepthi P.S  49.0                      QAA  December  2016.0
11      Sindhu J.P  48.0            Web Developer  December  2016.0
9      Divya Kumar  52.0            Web Developer  December  2016.0
10        Shilpa R  45.0                      QAA  December  2016.0
21             NaN   NaN                      NaN       NaN     NaN
22             NaN   NaN                      NaN       NaN     NaN
23             NaN   NaN                      NaN       NaN     NaN
24             NaN   NaN                      NaN       NaN     NaN
25             NaN   NaN                      NaN       NaN     NaN
26             NaN   NaN                      NaN       NaN     NaN
27             NaN   NaN                      NaN       NaN     NaN
28             NaN   NaN                      NaN       NaN     NaN
29             NaN   NaN                      NaN       NaN     NaN
30             NaN   NaN                      NaN       NaN     NaN
31             NaN   NaN                      NaN       NaN     NaN
32             NaN   NaN                      NaN       NaN     NaN
33             NaN   NaN                      NaN       NaN     NaN
34             NaN   NaN                      NaN       NaN     NaN
35             NaN   NaN                      NaN       NaN     NaN
36             NaN   NaN                      NaN       NaN     NaN
37             NaN   NaN                      NaN       NaN     NaN
38             NaN   NaN                      NaN       NaN     NaN
39             NaN   NaN                      NaN       NaN     NaN
40             NaN   NaN                      NaN       NaN     NaN
41             NaN   NaN                      NaN       NaN     NaN
42             NaN   NaN                      NaN       NaN     NaN
43             NaN   NaN                      NaN       NaN     NaN
44             NaN   NaN                      NaN       NaN     NaN
45             NaN   NaN                      NaN       NaN     NaN

    Total Days of Month  Allowed Leave  Leave taken  Worked Days      CTC  \
0                  30.0            2.0          0.0           30  60000.0
14                 30.0            2.0          1.0           30  35000.0
1                  30.0            0.0          0.0           30  30000.0
17                 30.0            2.0          1.0           30  22000.0
3                  30.0            2.0          2.0           30  25000.0
4                  30.0            2.0          2.0           30  22000.0
15                 30.0            2.0          2.0           30  22000.0
2                  30.0            0.0          0.0           30  20000.0
18                 30.0            2.0          0.0           30  16000.0
5                  30.0            2.0          1.0           30  14000.0
8                  30.0            2.0          2.0           30  14000.0
13                 30.0            2.0          2.0           30  13000.0
6                  30.0            2.0          2.0           30  15000.0
7                  30.0            2.0          1.0           30  14000.0
20                 30.0            2.0          0.0           30  14000.0
16                 30.0            2.0          0.0           30  12000.0
19                 30.0            2.0          1.0           30  10000.0
12                 30.0            2.0          2.0           30   8000.0
11                 30.0            2.0          1.0           30   8000.0
9                  30.0            2.0          2.0           30   8000.0
10                 30.0            2.0          3.0           29   8000.0
21                  NaN            NaN          NaN            0      NaN
22                  NaN            NaN          NaN            0      NaN
23                  NaN            NaN          NaN            0      NaN
24                  NaN            NaN          NaN            0      NaN
25                  NaN            NaN          NaN            0      NaN
26                  NaN            NaN          NaN            0      NaN
27                  NaN            NaN          NaN            0      NaN
28                  NaN            NaN          NaN            0      NaN
29                  NaN            NaN          NaN            0      NaN
30                  NaN            NaN          NaN            0      NaN
31                  NaN            NaN          NaN            0      NaN
32                  NaN            NaN          NaN            0      NaN
33                  NaN            NaN          NaN            0      NaN
34                  NaN            NaN          NaN            0      NaN
35                  NaN            NaN          NaN            0      NaN
36                  NaN            NaN          NaN            0      NaN
37                  NaN            NaN          NaN            0      NaN
38                  NaN            NaN          NaN            0      NaN
39                  NaN            NaN          NaN            0      NaN
40                  NaN            NaN          NaN            0      NaN
41                  NaN            NaN          NaN            0      NaN
42                  NaN            NaN          NaN            0      NaN
43                  NaN            NaN          NaN            0      NaN
44                  NaN            NaN          NaN            0      NaN
45                  NaN            NaN          NaN            0      NaN

    ...  Salary Advance  TOTAL  NET PAYABLE  Gender  Prefix  \
0   ...             NaN   8800          NaN    Male      Mr
14  ...             NaN   3800          NaN    Male      Mr
1   ...             NaN   2300          NaN    Male      Mr
17  ...             NaN   1580          NaN    Male      Mr
3   ...             NaN   1800          NaN    Male      Mr
4   ...             NaN   1580          NaN    Male      Mr
15  ...             NaN   1580          NaN    Male      Mr
2   ...             NaN   1440          NaN    Male      Mr
18  ...             NaN   1150          NaN    Male      Mr
5   ...             NaN   1010          NaN    Male      Mr
8   ...             NaN   1010          NaN    Male      Mr
13  ...             NaN    940          NaN    Male      Mr
6   ...             NaN   1080          NaN    Male      Mr
7   ...             NaN   1010          NaN    Male      Mr
20  ...             NaN   1010          NaN    Male      Mr
16  ...             NaN    860          NaN    Male      Mr
19  ...             NaN    720          NaN    Male      Mr
12  ...             NaN    580          NaN  Female     Mrs
11  ...             NaN    580          NaN  Female     Mrs
9   ...             NaN    580          NaN  Female     Mrs
10  ...             NaN    540          NaN  Female     Mrs
21  ...             NaN      0          NaN     NaN     NaN
22  ...             NaN      0          NaN     NaN     NaN
23  ...             NaN      0          NaN     NaN     NaN
24  ...             NaN      0          NaN     NaN     NaN
25  ...             NaN      0          NaN     NaN     NaN
26  ...             NaN      0          NaN     NaN     NaN
27  ...             NaN      0          NaN     NaN     NaN
28  ...             NaN      0          NaN     NaN     NaN
29  ...             NaN      0          NaN     NaN     NaN
30  ...             NaN      0          NaN     NaN     NaN
31  ...             NaN      0          NaN     NaN     NaN
32  ...             NaN      0          NaN     NaN     NaN
33  ...             NaN      0          NaN     NaN     NaN
34  ...             NaN      0          NaN     NaN     NaN
35  ...             NaN      0          NaN     NaN     NaN
36  ...             NaN      0          NaN     NaN     NaN
37  ...             NaN      0          NaN     NaN     NaN
38  ...             NaN      0          NaN     NaN     NaN
39  ...             NaN      0          NaN     NaN     NaN
40  ...             NaN      0          NaN     NaN     NaN
41  ...             NaN      0          NaN     NaN     NaN
42  ...             NaN      0          NaN     NaN     NaN
43  ...             NaN      0          NaN     NaN     NaN
44  ...             NaN      0          NaN     NaN     NaN
45  ...             NaN      0          NaN     NaN     NaN

    Name of Authorised Signatory  PF Applicable  Medical Bill Submitted  \
0              Managing Director            Yes                     Yes
14             Managing Director            Yes                     Yes
1              Managing Director            Yes                     Yes
17             Managing Director            Yes                     Yes
3              Managing Director            Yes                     Yes
4              Managing Director            Yes                     Yes
15             Managing Director            Yes                     Yes
2              Managing Director            Yes                     Yes
18             Managing Director            Yes                     Yes

In [18]:
# Read Excel file
df = pd.read_csv("data.csv")

print("First few rows")
print(df.head())
print("\nSummary statistics")
print(df.describe())

filtered_data = df[df['Age'] > 30]
print("\nFiltered data (Age > 30):")
print(filtered_data)

sorted_data = df.sort_values(by='Salary', ascending=False)
print("\nSorted data (by Salary):")
print(sorted_data)

df['Bonus'] = df['Salary'] * 0.1
print("\nData with new column (Bonus):")
print(df)

df.to_csv('output.csv', index=False)
print("\nData written to output.xlsx")

First few rows
       first_name  Salary  Age
0        Nev Ding   51302   25
1  Candida Harper   19925   37
2   Keslie Rennie   24911   41
3   Trescha Stowe   33799   40
4  De witt Devita   36856   44

Summary statistics
             Salary          Age
count   1000.000000  1000.000000
mean   37658.821000    39.842000
std    11597.631924    10.968835
min    18000.000000    21.000000
25%    27135.000000    30.000000
50%    37516.000000    40.000000
75%    47707.750000    49.000000
max    57995.000000    58.000000

Filtered data (Age > 30):
               first_name  Salary  Age
1          Candida Harper   19925   37
2           Keslie Rennie   24911   41
3           Trescha Stowe   33799   40
4          De witt Devita   36856   44
5           Eydie Sherrin   53502   42
..                    ...     ...  ...
994        Shelba Caudray   35665   58
995   Paddie Szachniewicz   40415   54
996  Mariejeanne Whatford   48930   46
997           Fred Fasler   31255   36
999      Helena Yuryichev   55013   43

[747 rows x 3 columns]

Sorted data (by Salary):
               first_name  Salary  Age
419            Winn Hayle   57995   26
682       Orville Ramsell   57972   28
185           Lewiss Wagg   57949   54
716  Freddy Janaszkiewicz   57922   43
646        Sydney Woolgar   57909   31
..                    ...     ...  ...
94         Eleonora Isted   18216   40
650         Weidar Bosche   18191   46
534      Osbourne Gretton   18156   30
724      Emlynne Zuanazzi   18074   51
847        Xylina Zorener   18000   43

[1000 rows x 3 columns]

Data with new column (Bonus):
               first_name  Salary  Age   Bonus
0                Nev Ding   51302   25  5130.2
1          Candida Harper   19925   37  1992.5
2           Keslie Rennie   24911   41  2491.1
3           Trescha Stowe   33799   40  3379.9
4          De witt Devita   36856   44  3685.6
..                    ...     ...  ...     ...
995   Paddie Szachniewicz   40415   54  4041.5
996  Mariejeanne Whatford   48930   46  4893.0
997           Fred Fasler   31255   36  3125.5
998       Daffie Wildbore   30981   21  3098.1
999      Helena Yuryichev   55013   43  5501.3

[1000 rows x 4 columns]

Data written to output.xlsx